###### pip Requirements for canmops######
###### pip install -r requirements_pip.txt ######
aenum
alive-progress
astroML
astropy
attrs
backcall
bitarray
bleach
boto
branca
celluloid
certifi
cffi
chardet
colorama
coloredlogs
cryptography
cycler
Cython
decorator
defusedxml
dill
edx-opaque-keys
entrypoints
enum34
bs4
mpldatacursor
dash
keyboard
dash
dash_bootstrap_components
networkx
folium
gnupg
#http-parser
humanfriendly
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
kafe
kiwisolver
latexmk.py
libcst
llvmlite
lxml
MarkupSafe 
#mistune 
#mkl-fft
#mkl-random 
#mkl-service 
mock 
multiprocess 
mypy-extensions 
nbconvert 
nbformat 
nose
notebook 
numba 
numexpr 
numpy 
opcua 
pandas 
pandocfilters 
parso 
path.py
pathlib
pbr 
pexpect 
pickleshare 
Pillow 
progressbar-latest 
prometheus-client 
prompt-toolkit 
psutil 
ptyprocess 
pycosat 
pycparser 
Pygments 
pymongo 
pyOpenSSL 
pyparsing 
PyPDF2 
colorlog
pyrsistent 
pyserial 
PySocks 
python-bidi 
python-can 
python-dateutil 
pytz 
PyVISA 
PyVISA-py 
PyYAML 
pyzmq 
QtAwesome 
qtconsole 
reportlab 
requests
ruamel-yaml
scikit-learn
scipy
seaborn
Send2Trash
six
stevedore
tables
termcolor
terminado
testpath
timeout-decorator
toml
tornado
tqdm
traitlets
typing-extensions
typing-inspect
unimport
uptime
urllib3
verboselogs
vulture
wcwidth
webencodings
widgetsnbextension
wrapt
wrapt-timeout-decorator
zipp
event-notifier
matplotlib 
QtPy
PySide2
PyQt5
pyqtgraph 
PySide6
graphviz
QGraphViz
clint
parse
line
keyboard